body{
  background-image: url("/public/backgroundCoffee.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* ajusta el valor alpha para cambiar la opacidad */
}